# ---------- Files ----------
.env
.pnp.*
tailwind.css
yarn-error.log

# ---------- Directories ----------
dist/
.next/
.expo/
.yarn/*
coverage/
!.yarn/sdks/
node_modules/
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/versions/
