# ---------- Files ----------
.env
tailwind.css
yarn-error.log
lerna-debug.log

# ---------- Directories ----------
dist/
.yarn/
.next/
.expo/
coverage/
!.yarn/sdks/
node_modules/
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/versions/
